{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <!-- Header -->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To Website!</div>
                <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
            </div>
        </div>
    </header>

    <section class="section-grey" id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Register</h1>

                    {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.name) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword) }}

                    <button class="btn">Register</button>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
