{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <section class="section-grey" id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Register</h1>

                    {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.name) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword) }}

                    <button class="btn">Register</button>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
