<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Powstanie1918{% endblock %}</title>

    {% block stylesheets %}
        <link href="{{ asset('css/vendor/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/vendor/fa-all.min.css') }}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link href="{{ asset('css/base.css') }}" rel="stylesheet">
        <link href="{{ asset('css/fireSpark/style.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/jquery-ui/jquery-ui.structure.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/jquery-ui/jquery-ui.theme.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/jquery-ui/jquery-ui.min.css') }}" rel="stylesheet">

    {% endblock %}

</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-black" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="../" style="color: red">Powstanie1918</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path('home_page') }}">O stronie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path('newslist') }}">Znaleziska</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path('interactivemapshow') }}">Mapa interaktywna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path('citygameshow') }}">Gra o Powstaniu</a>
                </li>
                <li class="nav-item">
                    {% if is_granted('ROLE_USER') %}
                        <a class="nav-link js-scroll-trigger" href="{{ path('app_logout') }}">Wyloguj</a>
                    {% else %}
                        <a class="nav-link js-scroll-trigger" href="{{ path('app_login') }}">Logowanie</a>
                    {% endif %}
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger"  href="{{ path('admin_panel_show') }}" rel="stylesheet">Admin</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} alert-dismissible fade show fixed-flash">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endfor %}

{% block body %}
<!-- Header -->
<header class="masthead">

    <div id="particles-js"></div>
    <div class="container" id="headerContainer">
        <div class="intro-text">
            <div class="intro-heading text-uppercase">Powstanie Wielkopolskie</div>
        </div>
    </div>

</header>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Your Website 2018</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <a href="https://www.facebook.com/27grudnia/" target="_blank">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="https://github.com/walkoda/uprising"target="_blank">
                        <i class="fab fa-github-square"></i>
                    </a>
                    <a href="https://www.reddit.com/r/Polska/search?q=powstanie&restrict_sr=1"target="_blank">
                        <i class="fab fa-reddit-square"></i>
                    </a>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li class="list-inline-item">
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{% endblock %}

{% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Your Website 2018</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <a href="https://www.facebook.com/27grudnia/" target="_blank">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                        <a href="https://github.com/walkoda/uprising"target="_blank">
                            <i class="fab fa-github-square"></i>
                        </a>
                        <a href="https://www.reddit.com/r/Polska/search?q=powstanie&restrict_sr=1"target="_blank">
                            <i class="fab fa-reddit-square"></i>
                        </a>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item">
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

<!-- Footer -->


{% block javascripts %}
    <script src="{{ asset('js/vendor/jquery.min.js') }}"></script>
    <script src="{{ asset('js/vendor/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('js/vendor/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('js/base.min.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>
        const routes = require('../public/js/fos_js_routes.json');
        import Routing from '../vendor/friendsofsymfony/jsrouting-bundle/Resources/public/js/router.min.js';
        Routing.setRoutingData(routes);
    </script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="{{ asset('js/fireSpark/index.js') }}"></script>
    <script src="{{ asset('bundles/jquery-ui/jquery-ui.min.js') }}"></script>

{% endblock %}

</body>

</html>

